@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700;800&display=swap");
/* Variables */
:root {
  --main-red: #C2110E;
  --main-pink: #F9E8E7;
  --main-black: #0B0A0C;
  --main-gray: #F5F5F5;
}

/* GLOBAL RESET */
html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::after, *::before {
  box-sizing: inherit;
}

h1, h2, h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
}

a, a:visited, a:active {
  text-decoration: none;
  color: #000;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1922px;
}

header {
  width: 100%;
}
header .navbar-row {
  display: flex;
  background-color: var(--main-gray);
  justify-content: space-evenly;
  align-items: center;
}
header .navbar-row .navbar {
  width: 25%;
}
header .navbar-row .navbar__mobile {
  display: none;
}
header .navbar-row .navbar__mobile .material-symbols-outlined {
  font-size: 40px;
}
@media (max-width: 600px) {
  header .navbar-row .navbar__mobile {
    display: block;
  }
}
header .navbar-row .navbar__list {
  display: flex;
  gap: 24px;
  list-style-type: none;
  padding: 0;
}
@media (max-width: 600px) {
  header .navbar-row .navbar__list {
    display: none;
  }
}
header .navbar-row .navbar__item {
  color: green;
}
header .navbar-row .navbar__link {
  font-size: 16px;
}
header .navbar-row .logo {
  font-weight: 700;
  font-size: 32px;
  padding: 20px 0;
}
header .navbar-row .empty {
  width: 25%;
}
header .header-image {
  justify-content: center;
  background-image: url("utils/main_img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1000px) {
  header .header-image {
    background-image: url("utils/tablet-main-img.jpg");
    height: 100vh;
  }
}
header .header-image__title {
  text-transform: lowercase;
  color: #fff;
  flex: 1;
  font-size: 48px;
  max-width: 500px;
  text-align: center;
}
header .header-image__button {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 22px;
  margin-bottom: 50px;
  background-color: var(--main-red);
  border-radius: 15px;
  padding: 11px 70px;
}
header .header-image__button-link {
  color: #fff;
}
header .header-image::before {
  content: "";
  flex: 1;
}

.motivations {
  display: flex;
  gap: 25px;
  padding: 40px 20px;
  max-width: 100%;
  width: 1000px;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .motivations {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
  }
}
.motivations__box {
  display: flex;
  width: 240px;
  background-color: var(--main-pink);
  border-radius: 15px;
  padding: 25px 15px;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
@media (max-width: 1000px) {
  .motivations__box {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .motivations__box {
    width: 45%;
  }
}
.motivations__img {
  width: 50px;
  height: 50px;
  background-color: #000;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: auto;
  mask-size: auto;
  transition: all 0.3s;
}
.motivations__img:hover {
  background-color: var(--main-red);
}
.motivations__img--sleep {
  -webkit-mask-image: url(utils/sleep.svg);
  mask-image: url(utils/sleep.svg);
}
.motivations__img--immune {
  -webkit-mask-image: url(utils/immune-system.svg);
  mask-image: url(utils/sleep.svg);
}
.motivations__img--strength {
  -webkit-mask-image: url(utils/strength.svg);
  mask-image: url(utils/sleep.svg);
}
.motivations__img--digestion {
  -webkit-mask-image: url(utils/digetion.svg);
  mask-image: url(utils/sleep.svg);
}
.motivations__img:hover {
  fill: var(--main-red);
}
.motivations__title {
  padding: 0;
  margin: 0;
  font-weight: 400;
}
@media (max-width: 1000px) {
  .motivations__title {
    text-align: center;
  }
}

.subscribe {
  background-color: var(--main-black);
  padding-bottom: 40px;
  position: relative;
}
@media (max-width: 600px) {
  .subscribe {
    height: 300px;
    padding: 30px;
  }
}
.subscribe__title {
  color: #fff;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 35px;
}
@media (max-width: 600px) {
  .subscribe__title {
    position: absolute;
    transform: rotate(270deg);
    right: -55px;
    top: 100px;
  }
}
.subscribe__row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
@media (max-width: 600px) {
  .subscribe__row {
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    height: 100%;
    justify-content: space-around;
  }
}
.subscribe__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 126px;
}
@media (max-width: 600px) {
  .subscribe__box {
    max-width: 100%;
    flex-direction: row;
  }
}
.subscribe__img {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: auto;
  mask-size: auto;
  transition: all 0.3s;
}
.subscribe__img:hover {
  scale: 1.5;
}
.subscribe__img--delivery {
  -webkit-mask-image: url(utils/delivery.svg);
  mask-image: url(utils/delivery.svg);
}
.subscribe__img--value {
  -webkit-mask-image: url(utils/value.svg);
  mask-image: url(utils/value.svg);
}
.subscribe__img--commitment {
  -webkit-mask-image: url(utils/nocommitment.svg);
  mask-image: url(utils/nocommitment.svg);
}
.subscribe__text {
  text-align: center;
  font-size: 16px;
  color: #fff;
  padding-top: 15px;
  margin: 0;
  font-weight: 400;
}
@media (max-width: 600px) {
  .subscribe__text {
    padding-left: 24px;
    padding-top: 0;
  }
}

.performance {
  padding-bottom: 40px;
}
.performance__title {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 35px;
}
.performance__row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  flex-wrap: wrap;
  max-width: 900px;
  margin: auto;
}
@media (max-width: 600px) {
  .performance__row {
    justify-content: flex-start;
    padding: 30px;
  }
}
.performance__box {
  display: flex;
  align-items: center;
}
.performance__img {
  width: 50px;
  height: 50px;
  background-color: #000;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: auto;
  mask-size: auto;
  transition: all 0.3s;
}
.performance__img:hover {
  background-color: var(--main-red);
}
@media (max-width: 600px) {
  .performance__img {
    width: 34px;
    height: 30px;
    mask-size: contain;
    -webkit-mask-size: contain;
  }
}
.performance__img--endurance {
  -webkit-mask-image: url(utils/endurance.svg);
  mask-image: url(utils/endurance.svg);
}
.performance__img--energy {
  -webkit-mask-image: url(utils/energy.svg);
  mask-image: url(utils/energy.svg);
}
.performance__img--immune {
  -webkit-mask-image: url(utils/immune-health.svg);
  mask-image: url(utils/immune-health.svg);
}
.performance__img--taste {
  -webkit-mask-image: url(utils/energy.svg);
  mask-image: url(utils/energy.svg);
}
.performance__img--habit {
  -webkit-mask-image: url(utils/habit.svg);
  mask-image: url(utils/habit.svg);
}
.performance__img--metabolism {
  -webkit-mask-image: url(utils/metabolism.svg);
  mask-image: url(utils/metabolism.svg);
}
.performance__text {
  max-width: 180px;
  font-weight: 400;
}
@media (max-width: 600px) {
  .performance__text {
    max-width: 100%;
    font-size: 14px;
  }
}

.usda-organic {
  background-color: var(--main-gray);
}
.usda-organic__box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  gap: 45px;
  flex-wrap: wrap;
  text-align: center;
}
@media (max-width: 600px) {
  .usda-organic__box {
    flex-direction: column;
    gap: 30px;
    padding: 40px 0;
  }
}
.usda-organic__text {
  max-width: 350px;
}

.splide {
  padding-top: 27px;
  background-color: var(--main-pink);
}
.splide__heading {
  text-align: center;
  font-size: 50px;
  font-weight: 800;
}
.splide__red {
  color: var(--main-red);
}
.splide__box {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
  gap: 100px;
}
@media (max-width: 1000px) {
  .splide__box {
    text-align: center;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
  }
}
.splide__information {
  flex: 1;
}
.splide__images {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 40px;
}
@media (max-width: 1000px) {
  .splide__images {
    max-width: 340px;
    justify-content: center;
  }
}
.splide__ingredient {
  max-width: 130px;
}
.splide__ingredient--text {
  text-align: center;
}
.splide__ingredient--img {
  width: 130px;
}
.splide__button-box {
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.splide__add-to-cart {
  color: #fff;
  background-color: var(--main-black);
  font-size: 22px;
  border-radius: 15px;
  padding: 10px 100px;
  cursor: pointer;
}
.splide__arrow {
  top: auto;
  bottom: 101px;
  background: none;
}
.splide__arrow--next {
  right: 45%;
}
@media (max-width: 1000px) {
  .splide__arrow--next {
    right: 30%;
  }
}
.splide__arrow--prev {
  left: 45%;
}
@media (max-width: 1000px) {
  .splide__arrow--prev {
    left: 30%;
  }
}
.splide__pagination {
  bottom: 120px;
}
.splide__pagination__page {
  background: rgba(204, 204, 204, 0);
  border: 1px solid;
}
.splide__pagination__page.is-active {
  background: #000;
  transform: scale(1.2);
}

.methodical-process {
  min-height: 840px;
  position: relative;
}
.methodical-process__title {
  text-align: center;
  padding-top: 50px;
  font-size: 48px;
  text-transform: lowercase;
}
.methodical-process__row--left {
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 125px;
  text-align: right;
  padding-bottom: 35px;
}
.methodical-process__row--left::after {
  content: "";
  flex: 1;
}
@media (max-width: 600px) {
  .methodical-process__row--left::after {
    flex: 0;
  }
}
@media (max-width: 600px) {
  .methodical-process__row--left {
    text-align: left;
  }
}
@media (max-width: 1000px) {
  .methodical-process__row--left {
    width: 100%;
    padding-left: 20px;
  }
}
.methodical-process__row--right {
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 125px;
  padding-bottom: 40px;
}
.methodical-process__row--right::before {
  content: "";
  flex: 1;
}
@media (max-width: 600px) {
  .methodical-process__row--right::before {
    flex: 0;
  }
}
@media (max-width: 600px) {
  .methodical-process__row--right {
    text-align: right;
  }
}
@media (max-width: 1000px) {
  .methodical-process__row--right {
    width: 100%;
    padding-right: 20px;
  }
}
.methodical-process__box {
  flex: 1;
  align-self: flex-start;
}
.methodical-process__text-box-left {
  position: relative;
}
.methodical-process__text-box-left::after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 0;
  width: 80%;
  border-bottom: 4px solid var(--main-gray);
}
@media (max-width: 1000px) {
  .methodical-process__text-box-left::after {
    width: 97%;
  }
}
@media (max-width: 600px) {
  .methodical-process__text-box-left::after {
    display: none;
  }
}
.methodical-process__text-box-left::before {
  content: "";
  position: absolute;
  bottom: -14px;
  right: 78%;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  background-color: var(--main-gray);
  border-radius: 50%;
}
@media (max-width: 1000px) {
  .methodical-process__text-box-left::before {
    right: 95%;
  }
}
@media (max-width: 600px) {
  .methodical-process__text-box-left::before {
    display: none;
  }
}
.methodical-process__text-box-right {
  position: relative;
}
.methodical-process__text-box-right::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 80%;
  border-bottom: 4px solid var(--main-gray);
}
@media (max-width: 1000px) {
  .methodical-process__text-box-right::after {
    width: 95%;
  }
}
@media (max-width: 600px) {
  .methodical-process__text-box-right::after {
    display: none;
  }
}
.methodical-process__text-box-right::before {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 80%;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  background-color: var(--main-gray);
  border-radius: 50%;
}
@media (max-width: 1000px) {
  .methodical-process__text-box-right::before {
    left: 95%;
  }
}
@media (max-width: 600px) {
  .methodical-process__text-box-right::before {
    display: none;
  }
}
.methodical-process__text-title {
  padding: 0;
  margin: 0;
}
.methodical-process__mission-icon {
  position: absolute;
  top: 230px;
  left: calc(50% - 18px);
}
@media (max-width: 732px) {
  .methodical-process__mission-icon {
    top: 283px;
  }
}
@media (max-width: 600px) {
  .methodical-process__mission-icon {
    position: inherit;
    padding-bottom: 20px;
  }
}
.methodical-process__problem-icon {
  position: absolute;
  top: 393px;
  left: calc(50% - 24px);
}
@media (max-width: 732px) {
  .methodical-process__problem-icon {
    top: 446px;
  }
}
@media (max-width: 600px) {
  .methodical-process__problem-icon {
    position: inherit;
    padding-bottom: 20px;
  }
}
.methodical-process__therapeutic-icon {
  position: absolute;
  top: 555px;
  left: calc(50% - 24px);
}
@media (max-width: 732px) {
  .methodical-process__therapeutic-icon {
    top: 608px;
  }
}
@media (max-width: 600px) {
  .methodical-process__therapeutic-icon {
    position: inherit;
    padding-bottom: 20px;
  }
}
.methodical-process__result-icon {
  position: absolute;
  top: 713px;
  left: calc(50% - 20px);
}
@media (max-width: 732px) {
  .methodical-process__result-icon {
    top: 766px;
  }
}
@media (max-width: 600px) {
  .methodical-process__result-icon {
    position: inherit;
    padding-bottom: 20px;
  }
}
.methodical-process__separator {
  position: absolute;
  right: calc(50% - 47px);
  width: 95px;
  height: 642px;
  background: url(utils/separator.svg) center center no-repeat;
}
@media (max-width: 600px) {
  .methodical-process__separator {
    display: none;
  }
}
.methodical-process__separator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  background-color: var(--main-gray);
  border-radius: 50%;
}
.methodical-process__separator::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  background-color: var(--main-gray);
  border-radius: 50%;
}
.methodical-process__text {
  margin: 0;
  padding: 0;
}
.methodical-process__arrow-img {
  display: none;
}
.methodical-process__arrow-img--rotate {
  transform: scaleX(-1);
}
@media (max-width: 600px) {
  .methodical-process__arrow-img {
    display: block;
    text-align: center;
  }
}

.faq {
  background-color: var(--main-gray);
  padding-top: 80px;
  padding-bottom: 150px;
}
.faq__row {
  max-width: 800px;
  margin: 0 auto;
}
.faq__title {
  text-align: center;
}
.faq__accordion {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--main-gray);
  color: #000;
  font-weight: bold;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition: 0.4s;
}
.faq__accordion::after {
  content: "⌃";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.faq__accordion--active::after {
  content: "⌄";
}
.faq__panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}
.faq__panel--active {
  display: block;
}
.faq__paragraph {
  font-weight: bold;
}

button.accordion:after {
  content: "+";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

button.accordion.active:after {
  content: "−";
}/*# sourceMappingURL=style.css.map */