@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700;800&display=swap');

/* Variables */
:root{
  --main-red: #C2110E;
  --main-pink: #F9E8E7;
  --main-black: #0B0A0C;
}

/* GLOBAL RESET */
html{
  box-sizing: border-box;
  font-size: 100%;
}

*, *::after, *::before{
  box-sizing: inherit;
}

h1, h2, h3{
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p{
  margin-top: 0;
}

a, a:visited, a:active{
  text-decoration: none;
  color: #000;
  
}

/*

font-family: 'Plus Jakarta Sans', sans-serif;

*/

body{
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  // display: flex;
  // justify-content: center;
}

.container{
  margin: 0 auto;
  max-width: 1922px;
}

header{
  width: 100%;

  .navbar-row{
    display: flex;
    background-color: #F5F5F5;
    justify-content: space-evenly;
    align-items: center;


    .navbar{
      width: 25%;
      // width:50%;
      // background-color: red;

      &__list{
        display: flex;
        gap: 24px;
        list-style-type: none;
        padding: 0;
      }

      &__item{
        color: green;
      }

      &__link{
        font-size: 16px;
        // color: var(--red-background-color);
      }
    }

    .logo{
      // display: flex;
      // width: 50%;
      // text-align: center;
      font-weight: 700;
      font-size: 32px;
      padding: 20px 0
    }
    
    .empty{
      width: 25%;
    }
  }

  .header-image{
    justify-content: center;
    background-image: url('../utils/main_img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__title{
      text-transform: lowercase;
      color: #fff;
      white-space: pre;
      flex: 1;
      font-size: 48px;
    }

    &__button{
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-size: 22px;
      margin-bottom: 50px;
      background-color: var(--main-red);
      border-radius: 15px;
      padding: 11px 70px;

    }

    &__button-link{
      color: #fff;
    }

    &::before{
      content: "";
      flex: 1;
    }
  }
}

.motivations{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-top: 40px;
  max-width: 100%;
  padding-bottom: 40px;

  &__box{
    display: flex;
    width: 240px;
    background-color: var(--main-pink);
    border-radius: 15px;
    padding: 25px 24px;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  &__img{
    width: 50px;
    height: 50px;
    background-color: #000;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: auto;
    mask-size: auto;
    transition: all 0.3s;

    &:hover{
      background-color: var(--main-red);
    }

    &--sleep{
      -webkit-mask-image: url(/utils/sleep.svg);
      mask-image: url(/utils/sleep.svg);
    }

    &--immune{
      -webkit-mask-image: url(/utils/immune-system.svg);
      mask-image: url(/utils/sleep.svg);
    }

    &--strength{
      -webkit-mask-image: url(/utils/strength.svg);
      mask-image: url(/utils/sleep.svg);
    }

    &--digestion{
      -webkit-mask-image: url(/utils/digetion.svg);
      mask-image: url(/utils/sleep.svg);
    }

   

      &:hover{
        fill: var(--main-red);
      }
    
  }

  &__title{
    padding: 0;
    margin: 0;
    font-weight: 400;
  }
}


.subscribe{
  background-color: var(--main-black);
  padding-bottom: 40px;

  &__title{
    color: #fff;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 35px;
  }

  &__row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
  }

  &__box{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img{
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: auto;
    mask-size: auto;
    transition: all 0.3s;

    &:hover{
      scale: 1.5;
    }

    &--delivery{
      -webkit-mask-image: url(/utils/delivery.svg);
      mask-image: url(/utils/delivery.svg);
    }

    &--value{
      -webkit-mask-image: url(/utils/value.svg);
      mask-image: url(/utils/value.svg);
    }

    &--commitment{
      -webkit-mask-image: url(/utils/nocommitment.svg);
      mask-image: url(/utils/nocommitment.svg);
    }
  }

  &__text{
    text-align: center;
    font-size: 16px;
    color: #fff;
    padding-top: 15px;;
    margin: 0;
    font-weight: 400;
  }
}

.performance{
  padding-bottom: 40px;

  &__title{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 35px;
  }

  &__row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    flex-wrap: wrap;
    max-width: 900px;
    margin: auto;
  }
  
  &__box{
    display: flex;
    align-items: center;
  }

  &__img{
    width: 50px;
    height: 50px;
    background-color: #000;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: auto;
    mask-size: auto;
    transition: all 0.3s;

    &--endurance{
      -webkit-mask-image: url(/utils/endurance.svg);
      mask-image: url(/utils/endurance.svg);
    }

    &--energy{
      -webkit-mask-image: url(/utils/energy.svg);
      mask-image: url(/utils/energy.svg);
    }

    &--immune{
      -webkit-mask-image: url(/utils/immune-health.svg);
      mask-image: url(/utils/immune-health.svg);
    }

    &--taste{
      -webkit-mask-image: url(/utils/energy.svg);
      mask-image: url(/utils/energy.svg);
    }

    &--habit{
      -webkit-mask-image: url(/utils/habit.svg);
      mask-image: url(/utils/habit.svg);
    }

    &--metabolism{
      -webkit-mask-image: url(./utils/metabolism.svg);
      mask-image: url(utils/metabolism.svg);
    }
  }

  &__text{
    max-width: 180px;
    font-weight: 400;
  }
}

