@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700;800&display=swap');

/* Variables */
:root{
  --main-red: #C2110E;
  --main-pink: #F9E8E7;
  --main-black: #0B0A0C;
  --main-gray: #F5F5F5;
}

/* GLOBAL RESET */
html{
  box-sizing: border-box;
  font-size: 100%;
}

*, *::after, *::before{
  box-sizing: inherit;
}

h1, h2, h3{
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p{
  margin-top: 0;
}

a, a:visited, a:active{
  text-decoration: none;
  color: #000;
  
}

/*

font-family: 'Plus Jakarta Sans', sans-serif;

*/

body{
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  // display: flex;
  // justify-content: center;
}

.container{
  margin: 0 auto;
  max-width: 1922px;
}

header{
  width: 100%;

  .navbar-row{
    display: flex;
    background-color: var(--main-gray);
    justify-content: space-evenly;
    align-items: center;


    .navbar{
      width: 25%;
      // width:50%;
      // background-color: red;

      &__list{
        display: flex;
        gap: 24px;
        list-style-type: none;
        padding: 0;
      }

      &__item{
        color: green;
      }

      &__link{
        font-size: 16px;
        // color: var(--red-background-color);
      }
    }

    .logo{
      // display: flex;
      // width: 50%;
      // text-align: center;
      font-weight: 700;
      font-size: 32px;
      padding: 20px 0
    }
    
    .empty{
      width: 25%;
    }
  }

  .header-image{
    justify-content: center;
    background-image: url('../utils/main_img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1000px) {
      background-image: url('../utils/tablet-main-img.jpg');
      height: 100vh;
    }

    &__title{
      text-transform: lowercase;
      color: #fff;
      // white-space: pre;
      flex: 1;
      font-size: 48px;
      max-width: 500px;
      text-align: center;
    }

    &__button{
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-size: 22px;
      margin-bottom: 50px;
      background-color: var(--main-red);
      border-radius: 15px;
      padding: 11px 70px;

    }

    &__button-link{
      color: #fff;
    }

    &::before{
      content: "";
      flex: 1;
    }
  }
}

.motivations{
  display: flex;
  gap: 25px;
  padding: 40px 20px;
  max-width: 100%;
  width: 1000px;
  margin: 0 auto;

  @media (max-width: 600px) {
    // flex: 0 0 45%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px
  }

  &__box{
    display: flex;
    width: 240px;
    background-color: var(--main-pink);
    border-radius: 15px;
    padding: 25px 15px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    // flex: 0 0 45%;
    // flex-basis: 221px;
    // flex-grow: 0;
    // flex-shrink: 0;


    @media (max-width: 1000px) {
      // flex: 0 0 45%;
      flex-direction: column;
    }

    @media (max-width: 600px) {
      width: 45%
    }

  }

  &__img{
    width: 50px;
    height: 50px;
    background-color: #000;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: auto;
    mask-size: auto;
    transition: all 0.3s;

    &:hover{
      background-color: var(--main-red);
    }

    &--sleep{
      -webkit-mask-image: url(/utils/sleep.svg);
      mask-image: url(/utils/sleep.svg);
    }

    &--immune{
      -webkit-mask-image: url(/utils/immune-system.svg);
      mask-image: url(/utils/sleep.svg);
    }

    &--strength{
      -webkit-mask-image: url(/utils/strength.svg);
      mask-image: url(/utils/sleep.svg);
    }

    &--digestion{
      -webkit-mask-image: url(/utils/digetion.svg);
      mask-image: url(/utils/sleep.svg);
    }

   

      &:hover{
        fill: var(--main-red);
      }
    
  }

  &__title{
    padding: 0;
    margin: 0;
    font-weight: 400;

    @media (max-width: 1000px) {
      text-align: center;
    }
  }
}


.subscribe{
  background-color: var(--main-black);
  padding-bottom: 40px;
  position: relative;

  @media (max-width: 600px) {
    height: 300px;
    padding: 30px;
  }

  &__title{
    color: #fff;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 35px;

    @media (max-width: 600px) {
      position: absolute;
      transform: rotate(270deg);
      right: -55px;
      top: 100px;
    }
  }

  &__row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    @media (max-width: 600px) {
      flex-direction: column;
      gap: 0;
      align-items: flex-start;
      height: 100%;
      justify-content: space-around;
    }
  }

  &__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 126px;

    @media (max-width: 600px) {
      max-width: 100%;
      flex-direction: row;
    }
  }

  &__img{
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: auto;
    mask-size: auto;
    transition: all 0.3s;

    &:hover{
      scale: 1.5;
    }

    &--delivery{
      -webkit-mask-image: url(/utils/delivery.svg);
      mask-image: url(/utils/delivery.svg);
    }

    &--value{
      -webkit-mask-image: url(/utils/value.svg);
      mask-image: url(/utils/value.svg);
    }

    &--commitment{
      -webkit-mask-image: url(/utils/nocommitment.svg);
      mask-image: url(/utils/nocommitment.svg);
    }
  }

  &__text{
    text-align: center;
    font-size: 16px;
    color: #fff;
    padding-top: 15px;
    margin: 0;
    font-weight: 400;

    @media (max-width: 600px) {
      padding-left: 24px;
      padding-top: 0;
    }
  }
}

.performance{
  padding-bottom: 40px;

  &__title{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 35px;
  }

  &__row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    flex-wrap: wrap;
    max-width: 900px;
    margin: auto;

    @media (max-width: 600px) {
      justify-content: flex-start;
      padding: 30px;
    }
  }
  
  &__box{
    display: flex;
    align-items: center;
  }

  &__img{
    width: 50px;
    height: 50px;
    background-color: #000;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: auto;
    mask-size: auto;
    transition: all 0.3s;

    &:hover{
      background-color: var(--main-red);
    }

    @media (max-width: 600px) {
      width: 34px;
      height: 30px;
      mask-size: contain;
      -webkit-mask-size: contain;
    }

    &--endurance{
      -webkit-mask-image: url(/utils/endurance.svg);
      mask-image: url(/utils/endurance.svg);
    }

    &--energy{
      -webkit-mask-image: url(/utils/energy.svg);
      mask-image: url(/utils/energy.svg);
    }

    &--immune{
      -webkit-mask-image: url(/utils/immune-health.svg);
      mask-image: url(/utils/immune-health.svg);
    }

    &--taste{
      -webkit-mask-image: url(/utils/energy.svg);
      mask-image: url(/utils/energy.svg);
    }

    &--habit{
      -webkit-mask-image: url(/utils/habit.svg);
      mask-image: url(/utils/habit.svg);
    }

    &--metabolism{
      -webkit-mask-image: url(/utils/metabolism.svg);
      mask-image: url(/utils/metabolism.svg);
    }
  }

  &__text{
    max-width: 180px;
    font-weight: 400;

    @media (max-width: 600px) {
      max-width: 100%;
      font-size: 14px;
    }
  }
}

.usda-organic{
  background-color: var(--main-gray);

  &__box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    gap: 45px;
    flex-wrap: wrap;
    text-align: center;

    @media (max-width: 600px) {
      flex-direction: column;
      gap: 30px;
      padding: 40px 0;
    }
  }

  &__img{
    // padding:0 25px;
    // width: 120px;
    // height: 120px;
    // background-color: #000;
    // -webkit-mask-repeat: no-repeat;
    // mask-repeat: no-repeat;
    // -webkit-mask-size: auto;
    // mask-size: auto;
    // transition: all 0.3s;
    // -webkit-mask-image: url(/utils/usda-organic-logo.svg);
    // mask-image: url(/utils/usda-organic-logo.svg);
  }

  &__text{
    max-width: 350px;
  }
}

.splide{
  padding-top: 27px;
  background-color: var(--main-pink);
  // padding-bottom: 150px;
  // margin-bottom: 200px;

  &__heading{
    text-align: center;
    font-size: 50px;
    font-weight: 800;
  }

  &__red{
    color: var(--main-red)
  }

  &__box{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    gap: 100px;

    @media (max-width: 1000px) {
      text-align: center;
      flex-direction: column;
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  &__information{
    flex: 1;
  }

  &__images{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 40px;

    @media (max-width: 1000px) {
      max-width: 340px;
      justify-content: center;
    }

  }

  &__ingredient{
    max-width: 130px;
    &--text{
      text-align: center;
    }

    &--img{
      width: 130px;
    }

  }

  &__button-box{
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  &__add-to-cart{
    color: #fff;
    background-color: var(--main-black);
    font-size: 22px;
    border-radius: 15px;
    padding: 10px 100px;
    cursor:pointer;
  }

  &__arrow{
    top: auto;
    bottom: 101px;
    background: none;

    &--next{
      right: 45%;

      @media (max-width: 1000px) {
        right: 30%;
      }
    }

    &--prev{
      left: 45%;

      @media (max-width: 1000px) {
        left: 30%;
      }
    }
  }

  &__pagination{
    bottom: 120px;
  }

  &__pagination__page {
    background: #ccc0;
    border: 1px solid;
  }
  &__pagination__page.is-active{
    background: #000;
    transform: scale(1.2);
  }
}

.methodical-process{
  // background-color: rgb(23, 115, 196);
  min-height: 840px;
  position: relative;

  &__title{
    text-align: center;
    padding-top: 50px;
    font-size: 48px;
    text-transform: lowercase;
  }

  &__row--left{
    width: 900px;
    margin: 0 auto;
    // height: 800px;
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: relative;
    gap: 125px;
    text-align: right;
    padding-bottom: 35px;

    &::after{
      content: "";
      flex: 1;

      @media (max-width: 600px) {
        flex: 0;
      }
    }

    @media (max-width: 600px) {
      text-align: left;
    }

    @media (max-width: 1000px) {
      width: 100%;
      padding-left: 20px;
    }
  }
  
  &__row--right{
    width: 900px;
    margin: 0 auto;
    // height: 800px;
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: relative;
    gap: 125px;
    padding-bottom: 40px;

    &::before{
      content: "";
      flex: 1;

      @media (max-width: 600px) {
        flex: 0;
      }
    }

    @media (max-width: 600px) {
      text-align: right;
    }

    @media (max-width: 1000px) {
      width: 100%;
      padding-right: 20px;
    }
  }
  

  &__box{
    // background-color: yellow;
    flex: 1;
    align-self: flex-start;
    // position: relative;


  }

  &__text-box-left{
    // background-color: green;
    // text-align: right;

    position: relative;


    &::after{
      content: "";
      position: absolute;
      bottom: -10px;
      right: 0;
      width: 80%;
      border-bottom: 4px solid var(--main-gray);

      @media (max-width: 1000px) {
        width: 97%;
      }

      @media (max-width: 600px) {
        display: none;
      }
    }

    &::before{
      content: "";
      position: absolute;
      bottom: -14px;
      right: 78%;
      transform: translateX(-50%);
      width: 12px;
      height: 12px;
      background-color: var(--main-gray);
      border-radius: 50%;

      @media (max-width: 1000px) {
        right: 95%;
      }

      @media (max-width: 600px) {
        display: none;
      }
    }
  }

  &__text-box-right{
    // background-color: green;
    position: relative;
    // text-align: right;

    &::after{
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 80%;
      border-bottom: 4px solid var(--main-gray);

      @media (max-width: 1000px) {
        width: 95%;
      }

      @media (max-width: 600px) {
        display: none;
      }
    }

    &::before{
      content: "";
      position: absolute;
      bottom: -14px;
      left: 80%;
      transform: translateX(-50%);
      width: 12px;
      height: 12px;
      background-color: var(--main-gray);
      border-radius: 50%;

      @media (max-width: 1000px) {
        left: 95%;
      }

      @media (max-width: 600px) {
        display: none;
      }
    }
  }

  &__text-title{
    // background-color: red;
    padding: 0;
    margin: 0;
  }

  &__mission-icon{
    position: absolute;
    top: 230px;
    left: calc(50% - 18px);

    @media (max-width: 732px) {
      top: 283px;
    }

    @media (max-width: 600px) {
      position: inherit;
      padding-bottom: 20px;
    }
  }

  &__problem-icon{
    position: absolute;
    top: 393px;
    left: calc(50% - 24px);

    @media (max-width: 732px) {
      top: 446px;
    }

    @media (max-width: 600px) {
      position: inherit;
      padding-bottom: 20px;
    }
  }

  &__therapeutic-icon{
    position: absolute;
    top: 555px;
    left: calc(50% - 24px);

    @media (max-width: 732px) {
      top: 608px;
    }

    @media (max-width: 600px) {
      position: inherit;
      padding-bottom: 20px;
    }
  }

  &__result-icon{
    position: absolute;
    top: 713px;
    left: calc(50% - 20px);

    @media (max-width: 732px) {
      top: 766px;
    }

    @media (max-width: 600px) {
      position: inherit;
      padding-bottom: 20px;
    }
  }

  &__separator{
    position: absolute;
    right: calc(50% - 47px);
    width: 95px;
    height: 642px;
    background: url(/utils/separator.svg) center center no-repeat;

    @media (max-width: 600px) {
      display: none;
    }

    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 12px;
      height: 12px;
      background-color: var(--main-gray);
      border-radius: 50%;
    }

    &::after{
      content: "";
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      width: 12px;
      height: 12px;
      background-color: var(--main-gray);
      border-radius: 50%;
    }

  }

  &__text{
    margin: 0;
    padding: 0;
  }

  &__arrow-img{
    display: none;

    &--rotate{
      transform: scaleX(-1);
    }

    @media (max-width: 600px) {
      display: block;
      text-align: center;
    }
  }
}


.faq{
  background-color: var(--main-gray);
  padding-top: 80px;
  padding-bottom: 150px;

  &__row{
    max-width: 800px;
    margin: 0 auto;
  }

  &__title{
    text-align: center;
  }

  &__accordion{
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: var(--main-gray);
    color: #000;
    font-weight: bold;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;

    &::after{
      content: '\2303';
      color: #777;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }

    &--active{

      &::after{
        content: "\2304";
      }

    }
  }

  &__panel{
    padding: 0 18px;
    display: none;
    // background-color: white;
    overflow: hidden;

    &--active{
      display: block;
    }
  }

  &__paragraph{
    font-weight: bold;
  }
}


// .active, .accordion:hover {
//   background-color: #ccc; 
// }



button.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

button.accordion.active:after {
  content: "\2212";
}