@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700;800&display=swap");
/* Variables */
:root {
  --main-red: #C2110E;
  --main-pink: #F9E8E7;
  --main-black: #0B0A0C;
}

/* GLOBAL RESET */
html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::after, *::before {
  box-sizing: inherit;
}

h1, h2, h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
}

a, a:visited, a:active {
  text-decoration: none;
  color: #000;
}

/*

font-family: 'Plus Jakarta Sans', sans-serif;

*/
body {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1922px;
}

header {
  width: 100%;
}
header .navbar-row {
  display: flex;
  background-color: #F5F5F5;
  justify-content: space-evenly;
  align-items: center;
}
header .navbar-row .navbar {
  width: 25%;
}
header .navbar-row .navbar__list {
  display: flex;
  gap: 24px;
  list-style-type: none;
  padding: 0;
}
header .navbar-row .navbar__item {
  color: green;
}
header .navbar-row .navbar__link {
  font-size: 16px;
}
header .navbar-row .logo {
  font-weight: 700;
  font-size: 32px;
  padding: 20px 0;
}
header .navbar-row .empty {
  width: 25%;
}
header .header-image {
  justify-content: center;
  background-image: url("../utils/main_img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .header-image__title {
  text-transform: lowercase;
  color: #fff;
  white-space: pre;
  flex: 1;
  font-size: 48px;
}
header .header-image__button {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 22px;
  margin-bottom: 50px;
  background-color: var(--main-red);
  border-radius: 15px;
  padding: 11px 70px;
}
header .header-image__button-link {
  color: #fff;
}
header .header-image::before {
  content: "";
  flex: 1;
}

.motivations {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-top: 40px;
  max-width: 100%;
  padding-bottom: 40px;
}
.motivations__box {
  display: flex;
  width: 240px;
  background-color: var(--main-pink);
  border-radius: 15px;
  padding: 25px 24px;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.motivations__img {
  width: 50px;
  height: 50px;
  background-color: #000;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: auto;
  mask-size: auto;
  transition: all 0.3s;
}
.motivations__img:hover {
  background-color: var(--main-red);
}
.motivations__img--sleep {
  -webkit-mask-image: url(/utils/sleep.svg);
  mask-image: url(/utils/sleep.svg);
}
.motivations__img--immune {
  -webkit-mask-image: url(/utils/immune-system.svg);
  mask-image: url(/utils/sleep.svg);
}
.motivations__img--strength {
  -webkit-mask-image: url(/utils/strength.svg);
  mask-image: url(/utils/sleep.svg);
}
.motivations__img--digestion {
  -webkit-mask-image: url(/utils/digetion.svg);
  mask-image: url(/utils/sleep.svg);
}
.motivations__img:hover {
  fill: var(--main-red);
}
.motivations__title {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.subscribe {
  background-color: var(--main-black);
  padding-bottom: 40px;
}
.subscribe__title {
  color: #fff;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 35px;
}
.subscribe__row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.subscribe__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe__img {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: auto;
  mask-size: auto;
  transition: all 0.3s;
}
.subscribe__img:hover {
  scale: 1.5;
}
.subscribe__img--delivery {
  -webkit-mask-image: url(/utils/delivery.svg);
  mask-image: url(/utils/delivery.svg);
}
.subscribe__img--value {
  -webkit-mask-image: url(/utils/value.svg);
  mask-image: url(/utils/value.svg);
}
.subscribe__img--commitment {
  -webkit-mask-image: url(/utils/nocommitment.svg);
  mask-image: url(/utils/nocommitment.svg);
}
.subscribe__text {
  text-align: center;
  font-size: 16px;
  color: #fff;
  padding-top: 15px;
  margin: 0;
  font-weight: 400;
}

.performance {
  padding-bottom: 40px;
}
.performance__title {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 35px;
}
.performance__row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  flex-wrap: wrap;
  max-width: 900px;
  margin: auto;
}
.performance__box {
  display: flex;
  align-items: center;
}
.performance__img {
  width: 50px;
  height: 50px;
  background-color: #000;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: auto;
  mask-size: auto;
  transition: all 0.3s;
}
.performance__img--endurance {
  -webkit-mask-image: url(/utils/endurance.svg);
  mask-image: url(/utils/endurance.svg);
}
.performance__img--energy {
  -webkit-mask-image: url(/utils/energy.svg);
  mask-image: url(/utils/energy.svg);
}
.performance__img--immune {
  -webkit-mask-image: url(/utils/immune-health.svg);
  mask-image: url(/utils/immune-health.svg);
}
.performance__img--taste {
  -webkit-mask-image: url(/utils/energy.svg);
  mask-image: url(/utils/energy.svg);
}
.performance__img--habit {
  -webkit-mask-image: url(/utils/habit.svg);
  mask-image: url(/utils/habit.svg);
}
.performance__img--metabolism {
  -webkit-mask-image: url(./utils/metabolism.svg);
  mask-image: url(utils/metabolism.svg);
}
.performance__text {
  max-width: 180px;
  font-weight: 400;
}

.usda-organic {
  background-color: #F5F5F5;
}
.usda-organic__box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  gap: 45px;
}
.usda-organic__text {
  max-width: 350px;
}

.splide {
  padding-top: 27px;
  background-color: var(--main-pink);
  margin-bottom: 200px;
}
.splide__heading {
  text-align: center;
  font-size: 50px;
  font-weight: 800;
}
.splide__red {
  color: var(--main-red);
}
.splide__box {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
  gap: 100px;
}
.splide__information {
  flex: 1;
}
.splide__images {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 40px;
}
.splide__ingredient {
  max-width: 130px;
}
.splide__ingredient--text {
  text-align: center;
}
.splide__ingredient--img {
  width: 130px;
}
.splide__button-box {
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.splide__add-to-cart {
  color: #fff;
  background-color: var(--main-black);
  font-size: 22px;
  border-radius: 15px;
  padding: 10px 100px;
  cursor: pointer;
}
.splide__arrow {
  top: auto;
  bottom: 101px;
  background: none;
}
.splide__arrow--next {
  right: 45%;
}
.splide__arrow--prev {
  left: 45%;
}
.splide__pagination {
  bottom: 120px;
}
.splide__pagination__page {
  background: rgba(204, 204, 204, 0);
  border: 1px solid;
}
.splide__pagination__page.is-active {
  background: #000;
  transform: scale(1.2);
}/*# sourceMappingURL=style.css.map */